.center {
	text-align: center;
}

.center * {
	margin: 0 auto;
}

.hw-list-entry-title {
	font-weight: bold;
	width: 20%;
	min-width: 10em;
	display: inline-block;
}

.hw-list-subtitle {
	font-weight: normal;
	width: 5%;
	display: inline-block;
}

.hw-list-entry {
	font-weight: normal;
}